<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Visualização de Cliente</div>
                <div class="panel-body">
                    <div class="row col-md-8 col-md-offset-2 ">
                        <table class="table ">
                            <tr>
                                <th>Name</th>
                                <td>{{client.name}}</td>
                            </tr>
                            <tr>
                                <th>Responsible</th>
                                <td>{{client.responsible}}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{client.phone}}</td>
                            </tr>

                            <tr>
                                <th>e-Mail</th>
                                <td>{{client.email}}</td>
                            </tr>

                            <tr>
                                <th>Address</th>
                                <td>{{client.address}}</td>
                            </tr>
                            <tr>
                                <th>Obs</th>
                                <td>{{client.obs}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>