<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem de Notas de Projeto: {{project.name}}
                    <span class="pull-right">
                        <button type="button" class="btn btn-default  btn-xs "><a ng-href="#/project/{{project.project_id}}/note/new">Adicionar Nota</a></button>

                    </span>
                </div>
                <div class="panel-body">
                   <table class="table">
                       <thead>
                        <tr>
                            <th class="col-md-1">Título</th>
                            <th class="col-md-8">Nota</th>
                            <th class="col-md-2">Ação</th>
                        </tr>
                       </thead>
                       <tbody>
                            <tr ng-repeat="projectNote in projectNotes">
                                <td>{{projectNote.title}}</td>
                                <td>{{projectNote.note}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default  btn-xs "><a ng-href="#/project/{{projectNote.project_id}}/note/{{projectNote.note_id}}/edit">Editar</a> </button>
                                        <button type="button" class="btn btn-default btn-xs "><a ng-href="#/project/{{projectNote.project_id}}/note/{{projectNote.note_id}}/remove">Excluir</a></button>
                                        <button type="button" class="btn btn-default btn-xs "><a ng-href="#/project/{{projectNote.project_id}}/note/{{projectNote.note_id}}">Detalhar</a></button>
                                    </div>
                                </td>
                            </tr>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
    </div>
</div>